<div class="jumbotron front-page">
  <h1>Welcome to RATE</h1>
  <hr class="half-rule">

  <p class="front-text">
    A general recognition algorithm evaluation platform
  </p>
  
  <p class="front-text" >
    Provides solutions for database management, benchmark generation<br>
    Equipped with a ditributed computation system
  </p>

  <br>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
