<h1>Views</h1>

<%= render partial: 'table', locals: { views: @views } %>

<% content_for :sidebar do %>
<%= link_to 'Create View', new_view_path, class: 'btn btn-primary' %>
<div class="panel panel-default">
  <div class="panel-body">
    You have <%= current_user.generated_views.count %> views in total
  </div>
</div>
<% end %>

