/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
*/

div.sidebar-nav .btn {
    margin-bottom: 5px;
    width: 100%;
}

/* universal */

.table .progress {
    margin-bottom: 0px;
}

.center {
    text-align: center;
}

.front-page {
    text-align: center;
}

.front-text {
    width: 80%;
    margin: auto;
}

.half-rule {
    width: 100px;
    margin: 40px auto;
}

.brand {
    margin-top: 6px;
    height:40px;
}

.btn-margin-right {
    margin-right: 25px;
}

/* alert */

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block &gt; p,
.alert-block &gt; ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}
