@import "bootstrap_and_overrides";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 55px; /* .push must be the same height as .footer */
}

.footer {
  background-color: darken(@red, 20%);
}

.alert-danger,
.alert-error {
    color: darken(@red, 20%);
    background-color: lighten(@red, 25%);
    border-color: darken(@red, 5%);
}

.alert-success {
    color: darken(@orange, 20%);
    background-color: lighten(@orange, 25%);
    border-color: darken(@orange, 5%);
}

.rank {
  font-weight: bold;  
}
.rank-1 {
  color: @red;
}
.rank-2 {
  color: @orange;
}
.rank-3 {
  color: @yellow;
}

.highlighted {  
  color: @red;
}
